<ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <p style="text-align: center;">
        <img src="/assets/icon/Recurso.png" style="width: 50%; height: 80%;" alt="Logo">
      </p>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="ion-padding" color="dark">
    <img alt="Camara_de_comercio" src="/assets/icon/comercio.jfif" />
    <h2>Qué es la Cámara de Comercio de Aguachica?</h2>
    <p style="text-align:justify">
        Las Cámaras de Comercio, son personas jurídicas sin ánimo de lucro, de carácter corporativo y gremial, sujetas en la ejecución de todos sus actos de administración, gestión y contratación al derecho privado, las cuales tienen como fines defender y estimular los intereses generales del empresariado en Colombia, y llevar los registros mercantil, de las entidades sin ánimo de lucro y el registro único de proponentes delegados legalmente, sin que formen parte integrante de la administración pública ni al régimen legal aplicable a las entidades que forman parte de la misma.
        
        La Cámara de Comercio Aguachica nació mediante Decreto No. 2519 del 6 de diciembre de 1988, con jurisdicción de dos importante provincias la del sur del Cesar y sur de Bolívar , incluyendo los municipios de Aguachica; (capital natural de los sures), Curumaní, Pailitas, San Alberto, Pelaya, San Martín, Río de Oro, Tamalameque, La Gloria, Gamarra y González en el sur del Cesar y los municipios de Morales, Santa Rosa del Sur, Simití, Arenal, Regidor, Río Viejo y Norosí en sur de Bolívar. Su carácter es privado, cuenta con autonomía propia y es una institución sin ánimo de lucro .</p>

    <video src="/assets/video/videoPrueba.mp4" width="100%" height="50%" controls></video>
  
    <h2>Cual es el propósito de la Cámara de Comercio de Aguachica?</h2>
    <p style="text-align: justify;">Trabajamos por el desarrollo socioeconómico de la región mediante el fortalecimiento de la competitividad empresarial, regional y la prestación eficiente de los servicios delegados por el estado.</p>
  
    
    <img alt="informacion" src="/assets/icon/Info.jpg" width="100%" height="30%"/>
     
  </ion-content>
  