  <div class="ion-page" id="main-content" >
    <ion-header>
      <ion-toolbar color="dark">
        <ion-buttons slot="start" disabled="false">
          <ion-menu-button>
            <ion-icon [routerLink]="['../tabs/tab3']" name="return-down-back-sharp"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
        <ion-title>Eventos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" color="dark">
        <ion-card color="medium">
            <ion-card-header>
              <ion-card-title style="font-size: small;">E-COMMERCE
                Fecha: 7 de Julio de 2022 a las 15:00
            </ion-card-title>
            </ion-card-header>
            <ion-card-content style="text-align: justify;">
                El @ctdesurcesarysurbolivar de la Cámara de Comercio de Aguachica, con el apoyo de la Alcaldía Municipal de San Alberto, Cesar, invita a empresarios y emprendedores a participar de la capacitación `Presencial` en E-COMMERCE en temáticas cómo: ´MARKETING DIGITAL Y REDES SOCIALES´. Será dirigido por Cristian David Gutiérrez Rojas, especialista en Gestión Estratégica de Mercadeo y Énfasis en Comercio Electrónico y Marketing Digital. 🗓️Fecha: Jueves 07 de julio ⏰Hora: 03:00 p.m. 📌Panadería SAOS calle 3- #4-124 (Segundo piso). ¡Te esperamos! #SANALBERTO #CESAR
            </ion-card-content>
          </ion-card>

          <ion-card color="medium">
            <ion-card-header>
              <ion-card-title style="font-size: small;">CAPACITACION E COMMERCE
                Fecha: 13 de Julio de 2022 a las 14:00
            </ion-card-title>
            </ion-card-header>
            <ion-card-content style="text-align: justify;">
                @ctdesurcesarysurbolivar de la @camaradecomercioaguachica invita a los emprendedores, empresarios y comerciantes del municipio de Pelaya Cesar, a participar de la Sensibilización presencial del Centro de Transformación Digital Empresarial. Será dirigida por el Economista y Magíster en Finanzas Leonel Sánchez Thomas. 🗓️Fecha: Hoy Miércoles 13 de julio ⏰Hora: 02:00 p.m. a 04:00 p.m. 📌Lugar: Paraninfo del colegio jardín, frente al parque principal. ¡Te esperamos! #PELAYA #CTDE #CentroDeTransformación #CamaraAguachica #Cesar #Empresarios
            </ion-card-content>
          </ion-card>

          <ion-card color="medium">
            <ion-card-header>
              <ion-card-title style="font-size: small;">SENSBILIZACION
                Fecha: 8 de Agosto de 2022 a las 19:00
            </ion-card-title>
            </ion-card-header>
            <ion-card-content style="text-align: justify;">
                @ctdesurcesarysurbolivar de la @camaradecomercioaguachica invita a participar de la capacitación: E-COMMERCE ESPECIALIZADO en temática como: Tiendas Virtuales, dirigido a empresarios del CTDE. 🗓️Lunes 08 de agosto del 2022 🕞7:00 pm a través de la plataforma #zoom
            </ion-card-content>
          </ion-card>
    </ion-content>
  </div>
