<ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <p style="text-align: center;">
        <img src="/assets/icon/Recurso.png" style="width: 50%; height: 80%;" alt="Logo">
      </p>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="ion-padding" color="dark">
    <ion-card color="dark">
    <p style="text-align: center;">
        <img alt="Mision" src="/assets/icon/mission.jfif" />
    </p>
    <ion-card-header>
        <ion-card-title style=color:black>Mision</ion-card-title>
        <p style="text-align: justify; color:black">La Cámara de Comercio de Aguachica es una entidad privada, sin ánimo de lucro, con el propósito de prestar los servicios de registros, conciliación y desarrollo socioeconómico de la región, llevando la representación y vocería de los empresarios ante el gobierno nacional, regional y municipal, para fortalecer el Bienestar de la comunidad, basada en una cultura del conocimiento.</p>
    </ion-card-header>
    </ion-card>
    <ion-card color="dark">
    <p style="text-align: center;">
        <img alt="Mision" src="/assets/icon/vision.jpg" />
    </p>
    <ion-card-header>
        <ion-card-title style=color:black>Vision</ion-card-title>
        <p style="text-align: justify; color:black" >La Cámara de Comercio de Aguachica es una entidad privada, sin ánimo de lucro, con el propósito de prestar los servicios de registros, conciliación y desarrollo socioeconómico de la región, llevando la representación y vocería de los empresarios ante el gobierno nacional, regional y municipal, para fortalecer el Bienestar de la comunidad, basada en una cultura del conocimiento.</p>
    </ion-card-header>
    </ion-card>
</ion-content>


