<!--<ion-menu contentId="main-content">
     <ion-header>
      <ion-toolbar color="dark">
        <ion-title style="text-align: center;">Otras Opciones</ion-title>
      </ion-toolbar>
    </ion-header>
   Falta darle funciones a los eventos y tramistes con navegacion a cada tab con retroceso
    <ion-content class="ion-padding" color="dark">
        <p>
            <ion-button [routerLink]="['/tab4']" style="color:black;" fill="clear" expand="full">
              Eventos
            </ion-button>
        </p>
        <p>
            <ion-button [routerLink]="['/tab5']" style="color:black;" fill="clear" expand="full">
              Tramites</ion-button>
        </p>
    </ion-content>
  </ion-menu>-->
  <div class="ion-page" id="main-content" >
    <ion-header>
      <ion-toolbar color="dark">
        <!--<ion-buttons slot="start" >
          <<ion-menu-button slot="start"></ion-menu-button>>
        </ion-buttons> -->
        <ion-title>Contactos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" color="dark">
        <ion-accordion-group color="dark">
            <ion-accordion value="first" toggleIcon="caret-down" toggleIconSlot="start" color="dark">
              <ion-item slot="header" color="dark">
                <ion-label>Presidenta</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" style="background-color: aliceblue;">
                <h6>Maria Teresa Hernandez Prada</h6>
                <p style="text-align:left">
                    Telefono: (095) 5650650
                    <br>
                    Email: mariah@camaraaguachica.org.co
                </p>
              </div>
            </ion-accordion>
            <ion-accordion value="second" toggleIcon="caret-down" toggleIconSlot="start" color="dark">
              <ion-item slot="header" color="dark">
                <ion-label>Direccion Financiera</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" style="background-color: aliceblue;">
                <h6>Lud Pabon Chona</h6>
                <p style="text-align:left">
                    Telefono: (095) 5650650
                    <br>
                    Email: ludpabon@camaraaguachica.org.co
                </p>

                <h6>Piedad Hortencia Cardenas Castro</h6>
                <p style="text-align:left">
                    Telefono: (095) 5650650
                    <br>
                    Email: pcardenas@camaraaguachica.org.co
                </p>

                <h6>Zoraida Mena Duarte</h6>
                <p style="text-align:left">
                    Telefono: (095) 5650650
                    <br>
                    Email: zmena@camaraaguachica.org.co
                </p>

                <h6>Diana Patricia Navarro Julio</h6>
                <p style="text-align:left">
                    Telefono: (095) 5650650
                    <br>
                    Email: dnavarro@camaraaguachica.org.co
                </p>

            </div>
            </ion-accordion>
            <ion-accordion value="third" toggleIcon="caret-down" toggleIconSlot="start">
              <ion-item slot="header" color="dark">
                <ion-label>Direccion Juridica</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content"style="background-color: aliceblue;">
                <h6>Juan Bautista Granados Olivera</h6>
                <p style="text-align:left">
                    Telefono: (095) 5650650
                    <br>
                    Email: centroc@camaraaguachica.org.co
                </p>

                <h6>Yamile Vega</h6>
                <p style="text-align:left">
                    Telefono: (095) 5650650
                    <br>
                    Email: yvega@camaraaguachica.org.co
                </p>

                <h6>Miladis Vasques Nadjar</h6>
                <p style="text-align:left">
                    Telefono: (095) 5650650
                    <br>
                    Email: mvasquez@camaraaguachica.org.co
                </p>

                <h6>Miladis Vasques Nadjar</h6>
                <p style="text-align:left">
                    Telefono: (095) 5650650
                    <br>
                    Email: mvasquez@camaraaguachica.org.co
                </p>

                <h6>Marleth Chavez</h6>
                <p style="text-align:left">
                    Telefono: (095) 5650650
                    <br>
                    Email: mnungo@camaraaguachica.org.co
                </p>

                <h6>Isaac Burgos Espinosa</h6>
                <p style="text-align:left">
                    Telefono: (095) 5650650
                    <br>
                    Email: sistemascca@camaraaguahica.org.co
                </p>
              </div>
            </ion-accordion>
          </ion-accordion-group>
    </ion-content>
  </div>